.cardMainColor{
	color: aliceblue;
}

.cardMainMargen{
	margin-left: 15px;
}

.marginDestacados4{
	margin-left: 20px;
}

.marginrigthExtend{
	margin-right: 8px;
}

.nvarTwo{
	color: aliceblue;
	font-size: 20px;
}

.colorSide{
	color:aliceblue;
	font-weight: bold;
}

.cardProducto{
	color: black;
}

.activo{
	font-weight: bold;
}

